.Cart-Module-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 650px;
}

.Cart-Module-Title{
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.Cart-Module-Title-Sum{
    font-size: 24px;
    color: #404040;
    opacity: 0.7;
    display: flex;
}

.Cart-Module-Products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.UserPref-column{
    max-width: 570px;
}

.topping-container-row{
    margin-top: 5px;
}

.Cart-Module-Footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

