.Stage-Container{
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.nullstage-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.firststage-title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.firststage-data{
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.secondstage-content{
    text-align: center;
}

.secondstage-content-title{
    font-size: 18px;
    font-weight: bold;
}

.secondstage-content-pref{
    font-size: 20px;
}

.FourthStage-title{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}

.FourthStage-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}