.App {
  width: 100%;
}

.App-Route-Container{
  margin-top: 60px;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 50px;
  box-shadow:0 -1px 8px 12px rgba(64,64,64,0.18);
}


.loginforminputs{
  align-self: center;
  white-space: pre-line;
  width: 500px;
  text-align: justify;
}

.submitcenter{
  width: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.auth-form-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
  min-height: 80vh;
}

.Login-form{
  display: flex;
  flex-direction: column;
}

.submit-button{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.submit-button-register{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-Module-container {
  border: 1px solid red;
  margin: 0 10px 10px;
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
  animation: enterErrorModule 1s ease-in;
}

@keyframes enterErrorModule  {
  from{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  to{
    opacity: 1;
  }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
  .App-Route-Container{
    margin-top: 120px;
  }
}

@media screen and (max-width: 575px) {

}

