.Orders-Module-Container{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.Orders-Module-title{
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.Order-Cart-Container{
    display: flex;
    flex-direction: column;
}