.menu-container {
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    width: 100%;
    position: fixed;
    height: 60px;
    z-index: 1000;
    left: 0;
    top: 0;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: hsla(0, 0%, 0%, 0.1) 0 3px 5px 0;
    flex-wrap: wrap;
}

.App-logo {
    padding: 0;
    height: 60px;
    width: 50px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Logo-Container {
    cursor: pointer;
    display: flex;
}

.LocationModule-container {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.LocationModule-container:hover {
    fill: #40a9ff;
    color: #40a9ff;
}

.LocationModule-text {
    text-transform: uppercase;
    font-weight: bold;
    color: #404040;
    transition: 0.2s;
}

.LocationModule-text:hover {
    color: #40a9ff;
}

.SVGIcons:hover {
    fill: #40a9ff;
    transition: 0.2s;
    cursor: pointer;
}

.CallModule-text-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    color: #404040;
    cursor: pointer;
    transition: 0.1s;
}

.CallModule-text-numbers:hover {
    color: #40a9ff;
}

.menu-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.menu-logo{
    width: 50%;
}

.slider-menu-links{
    font-size: 20px;
    font-weight: 600;
    color: #404040;
}

.slider-menu-links:hover{
    color: #40a9ff;
}

.slider-menu-links-active{
    color: #40a9ff;
}

.slider-menu-links-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Logo-Hola{
    padding-left: 5px;
    padding-right: 4px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    font-size: 30px;
    height: 40px;
    width: 90px;
    line-height: 35px;
    border-radius: 5px;
    border: 2px solid #404040;
    color: #404040;
}

.Logo-Menu{
    padding-left: 5px;
    padding-right: 4px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    font-size: 30px;
    height: 40px;
    width: 105px;
    line-height: 35px;
    border-radius: 5px;
    border: 2px solid #404040;
    color: #404040;
}

.slider-menu-title-container{
    display: flex;
}


@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    .menu-container{
        height: 120px;
    }
    .menu-logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .menu-buttons{
        width: 100%;
    }
}

@media screen and (max-width: 575px) {

}

