.Pay-Method-Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

.Pay-Method-Title{
    font-weight: bold;
}

.PayMethod-RadioButtonSize{
    width: 40%;
}

.Total-Checkout-Cost{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.No-Free-Delivery{
    font-size: 24px;
    color: #404040;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s color ease-in-out;
    margin-top: 5px;
}

.No-Free-Delivery:hover{
    color: #40a9ff;
}

.Checkout-Submit-Button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.Adress-RadioButtonSize{
   word-wrap: break-word;
}