.Order-Container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Order-Meta{
    display: flex;
    flex-direction: column;
}

.Order-Title{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Order-Modal-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Order-Modal-Title{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}