.Delivery-Main-Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.Delivery-Main-Title{
    font-size: 38px;
    font-weight: bold;
}

.Delivery-Main-SubTitle{
    font-size: 24px;
    font-weight: bold;
}

.Delivery-Order-Page{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Delivery__Error{
    text-align: center;
    font-size: 32px;
}

.Delivery-Order__Id{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.Delivery-Order__Sub-title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.Delivery-Order__Order-Table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}

.Delivery-Order__Title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.Delivery__Finish-Button{
    margin-top: 10px;
}

.Delivery-Preferences{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}

.Delivery-Preferences-Container{
    font-weight: bold;
    font-size: 48px;
}