.footer-container {
    width: 100%;
    height: 220px;
    background-color: hsl(183, 100%, 28%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.footer-menu {
    width: 65%;
    display: flex;
    flex-direction: row;
}

.footer-menu-menu {
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-size: 21px;
}

.footer-menu-order{
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.footer-menu-socials{
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.footer-menu-links:hover {
    color: #404040;
}

.footer-menu-links {
    color: hsl(0, 0%, 100%);
}

.footer-menu-links-bold{
    font-weight: bold;
}

.footer-menu-socials{
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
}

.footer-menu-socials-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-menu-socials-youtube , .footer-menu-socials-inst, .footer-menu-socials-vk{
    width: 46px;
    height: 46px;
    margin: 3px;
}

.footer-menu-desk{
    padding: 15px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    max-width: 30%;
    line-height: 18px;
    text-align: justify;
}