.Admin__Container{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.Admin__Title{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.Admin__Add-New-Product{
    align-self: center;
    display: flex;
    margin-top: 15px;
}

.Admin__Button{
    font-size: 32px;
    height: auto;
    margin-left: 15px;
}

.Admin__Stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.Stats__Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Stats__Title{
    font-size: 36px;
    font-weight: bold;
}

.Stats__TodayOrders{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TodayOrders__Title{
    font-size: 24px;
    font-weight: bold;
}

.Stats__Module{
    display: flex;
    flex-direction: row;
}

.Stats__Module-Container{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Stats__Title{
    font-size: 28px;
    font-weight: bold;
}

.Stats__Module-Month{
    display: flex;
    flex-direction: column;
}

.ChangeProduct__Title{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.ChangeProduct__Product{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.ChangeProduct__Name{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.ChangeProduct__Form-Item{
    display: flex;
    flex-direction: column;
}

.ChangeProduct__Form{
    margin-top: 10px;
}

.panel__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel__name{
    font-size: 36px;
    text-align: center;
}

.panel__mobile{
    font-size: 36px;
    text-align: center;
}

.panel__desc{
    font-size: 28px;
    text-align: center;
}

.panel__cv{
    text-align: center;
    font-size: 36px;
}

.panel__info{
    width: 50%;
}

.panel__photo{
    display: flex;
    justify-content: center;
    width: 50%;
}

.panel__header__marked{
    color:greenyellow;
}

.changeUserType {
    display: flex;
    flex-direction: column;
    align-items: center;
}