.User-Module-Container{
    width: 100%;
    box-shadow:-1px -4px 16px 8px rgba(0,0,0,0.28);
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Button-Auth-User-Container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Button-Auth-User{
    margin: 10px;
    border-radius: 8px;
}

.User-Module-Container-Title{
    font-size: 24px;
    margin-top: 5px;
    font-weight: bold;
}

.User-Module-Info-Container{
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.User-Module-Info-Logo{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    opacity: 0.7;
    align-items: center;
    align-self: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.User-Module-Info-Logo:hover{
    opacity: 1;
    border: 3px solid #404040;
}

.User-Module-Info-Data-Container{
text-align: center;
}
