.PizzaProduct-container{
    display: flex;
    flex-direction: column;
}

.PizzaProduct-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PizzaProduct-size{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    font-style: normal;
}

.PizzaProduct-description{
    margin-top: 15px;
    width: 100%;
}

.PizzaProduct-TextArea{
    margin-top: 15px;
}

.PizzaProduct-cost{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.contentStyle{
    height: 252px;
    width: 472px;
    color: black;
    align-self: center
}

.addonsCollapsePanel-div{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.RadioButtonSize{
    width: 40%;
}

.TextAreaStyle{
    margin-top: 15px;
}

.addonsCollapsePanel-div-alert{
    color: lightslategrey;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
}