.Cooker-Main-Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.Cooker-Main-Title{
    font-size: 38px;
    font-weight: bold;
}

.Cooker-Main-SubTitle{
    font-size: 24px;
    font-weight: bold;
}

.Cook-Order-Page{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Cooker__Error{
    text-align: center;
    font-size: 32px;
}

.Cooker-Order__Id{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.Cooker-Order__Sub-title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.Cooker-Order__Order-Table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}

.Cooker-Order__Title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.Cooker__Finish-Button{
    margin-top: 10px;
}