.Coupon-Container{
    display: flex;
    flex-direction: column;
}

.Coupon-Title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.Coupon-Input{
    margin-top: 10px;
}

.Coupon-Btn{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}