.Cv__Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.Cv__Title{
     font-size: 38px;
 }

.Cv__Sut-Title{
    font-size: 32px;
}

.Cv__Title-Container{
    margin-bottom: 15px;
    text-align: center;
}

.Cv__Text{
    font-size: 24px;
    font-weight: bold;
}

.Cv__Form-Title{
    font-size: 48px;
}

.Cv__Submit-Button{
    justify-content: center;
    display: flex;
}