.products-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 10px;
    min-height: 80vh;
}

.product-type-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    .products-container{
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {

}
