.product-container{
    width: 150px;
    margin: 15px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

.product-image > img{
    width: 147px;
    height: 150px;
    border-radius: 5px;
}

.Card-Meta-title{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.PopoverContent{
    display: flex;
    flex-direction: column;
}

.ProductCard {
    width: 240px;
    height: 100%;
}

.padding-class{
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
}

.CardCostPanel{
    font-weight: bold;
}

.Card-Meta-desk{
    display: flex;
    flex-direction: column;
    align-items: center;
}