.Hot-Module-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Hot-Module-title {
    align-self: center;
    font-weight: bold;
    margin: 20px 20px 0;
    font-size: 35px;
}

.Hot-Module-Carousel {
    width: 576px;
    height: 324px;
    align-self: center;
    margin: 15px;
    box-shadow: 1px -2px 17px 17px rgba(0, 0, 0, 0.34);
}

.hotContentStyle {
    color: black;
    align-self: center
}

.Hot-Module-body-title {
    align-self: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 35px;
}

.Hot-Module-menu-title {
    align-self: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 35px;
}

.Hot-Module-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.HotModuleMenu__Item{
    display: flex;
    flex-direction: row;
}

.Hot-Poduct-Items-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Hot-Module-payment-container {
    background-color: #EBECEC;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Hot-Module-payment-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hot-Module-payment-text-condition {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}

.Hot-Module-payment-text-paymethod {
    font-size: 32px;
}

.Hot-Module-payment-text-maininfo {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hot-Module-payment-logos > img {
    width: 80%;
    height: 80%;
}

.Hot-Module-payment-logos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    color: #404040;
}

.slider-menu-links-cart {
    font-size: 42px;
    font-weight: 600;
    color: #404040;
}


.AnimateLink__Container{
    font-size: 20px;
    font-weight: 600;
    color: #404040;
    margin: 10px;
}
.slider-menu-links-cart:hover {
    color: #40a9ff;
}

.slider-menu-links-work {
    font-size: 24px;
    font-weight: 600;
    color: #404040;
}

.slider-menu-linkst-work:hover {
    color: #40a9ff;
}

.Hot-Module-cart {
    text-align: center;
    font-size: 42px;
    margin: 5px;
}

.Hot-Module-work {
    text-align: center;
    font-size: 24px;
    margin: 5px;
}

.AnimatedLink__Image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #404040;
    transition: transform 0.8s ease-in-out;
}

.AnimatedLink__Image:hover{
    transform: rotate(180deg);
    border-color: #40a9ff;
}

.AnimateLink__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
